/* Fonts Used */

@font-face {
  font-family: 'Main';
  src: url("/assets/fonts/Roboto-Light.ttf");
}

/* Fonts Used End */



/* ------------------------------------------------------------------ */


/* Fonts Size and Rem selection */

html {
  font-size: 16px;
}

@media screen and (max-width: 800px) {

  html {
    font-size: 15px;
  }

}

@media screen and (max-width: 700px) {

  html {
    font-size: 14px;
  }

}

@media screen and (max-width: 600px) {

  html {
    font-size: 13px;
  }

}

@media screen and (max-width: 500px) {

  html {
    font-size: 12px;
  }

}

@media screen and (max-width: 400px) {

  html {
    font-size: 11px;
  }

}

@media screen and (max-width: 300px) {

  html {
    font-size: 9px;
  }

}

@media screen and (max-height: 400px) {

  html {
    font-size: 9px;
  }

}

@media screen and (max-width: 200px) {

  html {
    font-size: 7px;
  }

}

@media screen and (max-width: 100px) {

  html {
    font-size: 5px;
  }

}

@media screen and (max-width: 80px) {

  html {
    font-size: 4px;
  }

}

@media screen and (max-width: 50px) {

  html {
    font-size: 3px;
  }

}

/* Fonts Size and Rem selection END */



/* ------------------------------------------------------------------ */



/* Base Elements Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  font-size: .9rem;
  line-height: 2rem;
  font-family: 'Main';
  background-color: #f0f0f0;
  color: hsl(200deg 7% 16%);
  background-color: #fff;
}

div.site-topper {
  width: 100%;
  z-index: 500;
}

i {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  display: inline-block;
  background-color: #383668;
}

div.big-wrapper {
  min-height: 100vh;
  z-index: 5;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

div.after-site-topper {
  height: 2rem;
}

.absolute-invisibility {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

/* Base Elements Styles */



/* ------------------------------------------------------------------ */



/* Custom Scroll bar */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Scroll bar END */



/* ------------------------------------------------------------------ */



/* Nav Ham */

.el-nav-holder {
  display: inline-block;
  cursor: pointer;
}

.el-nav-holder .bar-1,
.el-nav-holder .bar-2,
.el-nav-holder .bar-3 {
  width: 30px;
  height: 3px;
  background-color: #383668;
  border-radius: 2px;
  margin: 5px 0;
  transition: 0.4s;
}

@keyframes navbar-top-transform-open {

  0% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translate(0);
  }

  50% {
    -webkit-transform: rotate(315deg) translate(-9px, 6px);
    transform: rotate(315deg) translate(-9px, 6px);
  }

  100% {
    -webkit-transform: rotate(-405deg) translate(-9px, 6px);
    transform: rotate(-405deg) translate(-9px, 6px);
  }
}

@keyframes navbar-bottom-transform-open {

  0% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translate(0);
  }

  50% {
    -webkit-transform: rotate(-315deg) translate(-8px, -8px);
    transform: rotate(-315deg) translate(-8px, -8px);
  }

  100% {
    -webkit-transform: rotate(405deg) translate(-8px, -8px);
    transform: rotate(405deg) translate(-8px, -8px);
  }
}

@keyframes navbar-top-transform-close {

  0% {
    -webkit-transform: rotate(-405deg) translate(-9px, 6px);
    transform: rotate(-405deg) translate(-9px, 6px);
  }

  50% {
    -webkit-transform: rotate(315deg) translate(-9px, 6px);
    transform: rotate(315deg) translate(-9px, 6px);
  }

  100% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translate(0);
  }
}

@keyframes navbar-bottom-transform-close {

  0% {
    -webkit-transform: rotate(405deg) translate(-8px, -8px);
    transform: rotate(405deg) translate(-8px, -8px);
  }

  50% {
    -webkit-transform: rotate(-315deg) translate(-8px, -8px);
    transform: rotate(-315deg) translate(-8px, -8px);
  }

  100% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translate(0);
  }
}

@keyframes navbar-mid-transform-open {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes navbar-mid-transform-close {

  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.el-nav-holder.change-to-x .bar-2 {
  opacity: 0;
  animation: navbar-mid-transform-open .1s 1 linear;
}

.el-nav-holder.change-to-def .bar-2 {
  opacity: 1;
  animation: navbar-mid-transform-close 1s 1 linear;
}

.el-nav-holder.change-to-x .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  animation: navbar-top-transform-open 1s 1 linear;
}

.el-nav-holder.change-to-x .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  animation: navbar-bottom-transform-open 1s 1 linear;
}

.el-nav-holder.change-to-x .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
  transform: rotate(-45deg) translate(-4px, 6px);
  animation: navbar-top-transform-open 1s 1 linear;
}

.el-nav-holder.change-to-x .bar-3 {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
  animation: navbar-bottom-transform-open 1s 1 linear;
}

.el-nav-holder.change-to-def .bar-1 {
  -webkit-transform: rotate(-0) translate(0, 0);
  transform: rotate(-0) translate(0, 0);
  animation: navbar-top-transform-close 1s 1 linear;
}

.el-nav-holder.change-to-def .bar-3 {
  -webkit-transform: rotate(0) translate(0, 0);
  transform: rotate(0) translate(0, 0);
  animation: navbar-bottom-transform-close 1s 1 linear;
}

/* Nav Ham ENDS */



/* ------------------------------------------------------------------ */
img {
  max-width: 100%;
}

.site-topper {
  background-color: #fff;
}

.splitted {
  display: flex;
  padding: 1rem 4rem;
  flex: 1;
  width: 100%;
  align-items: center;
}

.splitted .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.splitted .right-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 950px) {

  .splitted {
    flex-direction: column;
  }

  .splitted .left-side {
    width: 100%;
    z-index: 10;
    padding-bottom: 2rem;
  }

  .splitted .right-side {
    width: 100%;
  }

}

section {
  width: 100%;
}

section.intro {
  padding: 1rem 0;
  padding-bottom: 3rem;
  color: white;
  width: 100%;
  background-image: url(./assets/images/living.webp);
  background-position: center;
  background-size: cover;
}

section.intro .over-f {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000055;
}

section.intro .left-side h1 {
  font-size: 2.8rem;
  line-height: 4rem;
  margin-right: auto;
  max-width: 400px;
}

section.intro .left-side p {
  padding-top: 1rem;
  padding-bottom: 2rem;
  line-height: 2rem;
  margin-right: auto;
  width: 100%;
  font-size: .8rem;
  max-width: 400px;
}

section.intro .left-side .btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section.intro .left-side button {
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
  background-color: #fff;
  padding: .1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  transition: background-color .5s, color .5s;
  margin-right: 1rem;
}

section.intro .left-side button img {
  height: 1.2rem;
}

section.intro .left-side .btn a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: .7rem;
}

section.intro .left-side .btn a:hover {
  text-decoration: underline
}

section.intro .left-side button:hover {
  background-color: rgb(190, 102, 38);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 2rem;
}

nav img {
  padding: 1rem 0;
  width: 6rem;
}

section.intro form {
  width: 100%;
  max-width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #373737;
  padding: 2rem 1.5rem;
  z-index: 10;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .3);
  flex-direction: column;
}

section.intro form h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
}

section.intro form p {
  text-align: center;
  width: 100%;
  padding-bottom: .8rem;
}

section.intro form label {
  width: 100%;
  display: block;
  /* font-weight: bold; */
}

section.intro form input {
  width: 100%;
  display: inline-block;
  outline: 0 none;
  border: 1px solid #d7d7d7;
  padding: .1rem .5rem;
}

section.intro form .formpack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-direction: column;
  width: 100%;
}

section.intro form .bt-pck {
  width: 100%;
}

section.intro form button {
  background-color: #efa31d;
  outline: 0 none;
  border: 2px solid #efa31d;
  color: white;
  width: 100%;
  padding: .2rem .5rem;
  padding-bottom: .55rem;
  display: block;
  border-radius: .1rem;
  cursor: pointer;
  transition: background-color .5s, color .5s;
}

section.intro form button:hover {
  color: #efa31d;
  background-color: transparent;
}

section.intro form button.tis-s {
  background-color: #fff;
  border: 2px solid #393c99;
  color: #393c99;
}

section.intro form button.tis-s:hover {
  background-color: #393c99;
  color: #fff;
}

@media screen and (max-width: 1100px) {

  section.intro form {
    max-width: 35vw;
  }

}

@media screen and (max-width: 950px) {

  section.intro .splitted .right-side form {
    max-width: 60vw;
    margin-right: auto;
    background-color: transparent;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 0 0 0;
    margin-left: auto;
    margin-right: 0;
  }

  section.intro .splitted .right-side form .f-intro {
    width: 100%;
  }

  section.intro .splitted .right-side form h2 {
    text-align: right;
    font-size: 2.8rem;
    line-height: 4rem;
    margin-right: auto;
    max-width: 400px;
  }

  section.intro .splitted .right-side form p {
    text-align: right;
    line-height: 2rem;
    margin-right: auto;
    width: 100%;
    font-size: .8rem;
    max-width: 400px;
  }

  section.intro .splitted .right-side form input {
    background-color: transparent;
  }
}

@media screen and (max-width: 350px) {

  section.intro .left-side h1 {
    font-size: 2.4rem;
  }

  section.intro .splitted .right-side form h2 {
    font-size: 2.4rem;
  }

}

section.second {
  width: 100%;
  padding: 2rem;
  color: #000;
  padding: 4rem 2rem;
}

section.second .cards-s {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section.second .cards-s .card {
  width: 33%;
  padding: 2rem;
  display: flex;
}

section.second .cards-s .card .img-prt {
  padding: 1rem;
  width: 5rem;
  flex-shrink: 0;
}

section.second .cards-s .card .img-prt img {
  margin: auto;
  display: block;
  width: 100%;
}

section.second .cards-s .card h3 {
  padding-bottom: .5rem;
  font-size: 1rem;
}

@media screen and (max-width: 950px) {

  section.second .cards-s {
    flex-direction: column;
  }

  section.second .cards-s .card {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  section.second .cards-s .card .img-prt {
    padding: 0;
    width: 3rem;
    margin: auto;
    padding-bottom: 1rem;
  }

}

section.third {
  width: 100%;
  padding: 4rem 2rem;
  color: #000;
  background-color: #fafafa;
}

section.third>h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  max-width: 70vw;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.splitted-x {
  display: flex;
  padding: 1rem 2rem;
  flex: 1;
  width: 100%;
  align-items: center;
}

.splitted-x .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.splitted-x img {
  width: 100%;
}

.splitted-x .right-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.splitted-x h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}

section.last {
  width: 100%;
  padding: 5rem 2rem;
  color: #000;
  background-color: #fff;
}

@media screen and (max-width: 950px) {

  section.third, section.last {
    padding: 4rem 0;  
  }

  section.third .over-f, section.last .over-f {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000055;
  }
  .splitted-x {
    padding: 0;  
  }

  .splitted-x .left-side {
    padding-right: 0;  
  }

  .splitted-x .img-s {
    width: 100%;
    z-index: 5;
  }

  .splitted-x .img-s img {
    max-height: 70vh;
    object-fit: cover;
  }

  .splitted-x .txt-s {
    position: absolute;
    bottom: 0; left: 0;
    right: 0;
    color: #fff;
    z-index: 10;
    padding: 2rem;
    width: 70%;
  }

  .splitted-x h2 {
    font-size: 2rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 450px) {

  .splitted-x .txt-s {
    width: 90%;
  }
}
